@font-face {
  font-family: 'Sentient';
  src: url('https://bluddybrilliantgh.github.io/fs-embed-style/fonts/Sentient-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('https://bluddybrilliantgh.github.io/fs-embed-style/fonts/GeneralSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.list-service-name,
.service-title {
  font-family: 'Sentient', serif !important;
  color: #720813 !important;
}

.list-service-description,
.service-body {
  font-family: 'GeneralSans', sans-serif !important;
  color: #720813 !important;
}
